.typing-animation {
    animation: blinkCursor 650ms infinite normal, typing 5s steps(28) 0s normal;
}

.toApper-animation {
    animation: toApperTitle 100ms infinite normal;
}

@keyframes typing {
    from{
        width: 0em;
    }

    to{
        width: 17.5em;
    }
}

@keyframes blinkCursor{
    0% {
        border-right-color: #fff;
    }

    50% {
        border-right-color: #fff;
    }
    51% {
        border-right-color: transparent;
    }

    100% {
        border-right-color: transparent ;
    }
}