@media (max-width: 460px) {

    ::-webkit-scrollbar {
        width: 5px;
        background-color: transparent;
        border: 5px solid transparent;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: var(--laranja);
        border-radius: 50px;
        
    }

    html {
        overflow-x: hidden;
    }

    body {
        background-color: var(--bgcolor);
        

    }

    main#home{
        z-index: 1;
        width: 100vw;
        height: 100vh;
        display: flex;
        
    }

    #menudesktop {
        display: flex;
        width: 100vw;
        height: 10vh;
        justify-content: space-between;
        align-items: center;
        position: absolute;
    }

    #logoMenu {
        width: 40px;
        height: 40px;
        margin-left: 5vw;
        background-image: url(../imagens/logolight.png);
        background-position: center;
        background-size: cover;
    }

    #logoMenu.dark {
        background-image: url(../imagens/logodark.png);
    }

    #linksMenu {
        position: absolute;
        display: flex;
        align-items: center;
        font-size: .8em;
        height: 32px;
        width: 90vw;
        background-color: var(--containerlinkhover);
        border-radius: 50px;
        left: 50%;
        translate: -50%;
        top: 10vh;
        justify-content: space-around;

    }

    #linksMenu a {
        color: var(--linkcolorincontainer);
        text-decoration: none;
    }

    #linksMenu a:hover {
      
      text-decoration: none;
  }
        
    

    /* The switch - the box around the slider */
  .switch-container {
    position: relative;
    display: inline-block;
    width: 3.8em;
    height: 32px;
    margin-right: 5vw;
  }
  
  /* Hide default HTML checkbox */
  .switch-container input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .switch-container .slider {
    --background: var(--azul3);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--background);
    transition: background-color 0.5s;
    border-radius: 30px;
  }
  
  .switch-container .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 15px -4px 0px 15px var(--laranja);
    transition: transform 0.5s, box-shadow 0.5s;
    background: var(--background);
  }
  
  .switch-container input:checked + .slider {
    background-color: #000513;
  }
  
  .switch-container input:checked + .slider:before {
    transform: translateX(115%);
    box-shadow: inset 8px -4px 0px 0px var(--azul);
  }
  
  #gato {
    
    position: absolute;
    display: block;
    width: 370px;
    height: 370px;
    z-index: 1;
    top: 15vh;
    opacity: 100%;
    left: 50%;
    translate: -50%;
    background-image: url(../imagens/gato/gato.png);
    position: center;
    background-size: cover;
    
  }

  #gato.dark {
    background-image: url(../imagens/gato/gato-dark.png);
  }

  #logoHome {
    display: none;
  }

  #logoHome.dark {
    background-image: url(../imagens/logodark.png);
    opacity: 3%;
  }

  #work-tittle {
    position: absolute;
    bottom: 5vh;
    font-size: 1.5em;
    color: var(--secondtittle);
    width: 80vw;
    text-align: center;
    left: 50%;
    translate: -50%;
  }

  #complete-name {
    position: absolute;
    top: 50vh;
    font-size: 4rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    z-index: 1;
    color: var(--linkcolor);
    left: 50%;
    translate: -50%;
    line-height: .8em;
  }

  span#titulo-firstname {
    display: flex;
    font-weight: 600;
    translate: -0px;
}

span#titulo-middlename {
    display: flex;
    font-weight: 600;
    translate: 0;
    font-size: 4rem;
  
  
}

  #titulo-middlename {
    font-size: .8em;
    font-weight: 700;
  }

  #redes-sociais {
    display: flex;
    position: absolute;
    width: 63vw;
    height: 30px;
    justify-content: space-between;
    top: 73vh;
    left: 50%;
    translate: -50%;
    
}

#linkedin {
  width: 30px;
  height: 30px;
  background-image: url(../imagens/icones/linkedinlight.png);
  background-size: cover;
  transition-property: background-image;
  transition-duration: .5s;
}

#linkedin.dark {
  background-image: url(../imagens/icones/linkedin.png);
}

#linkedin:hover, #github:hover, #behance:hover, #instagram:hover {
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
  transform: translateY(-10px);
}

#github {
  width: 30px;
  height: 30px;
  background-image: url(../imagens/icones/githublight.png);
  background-size: cover;
  border-radius: 50px;
  transition-property: background-image;
  transition-duration: .5s;
}

#github.dark {
  background-image: url(../imagens/icones/github.png);
}

#behance {
  width: 30px;
  height: 30px;
  background-image: url(../imagens/icones/behancelight.png);
  background-size: cover;
  transition-property: background-image;
  transition-duration: .5s;
}

#behance.dark {
  background-image: url(../imagens/icones/behance.png);
}

#instagram {
  width: 30px;
  height: 30px;
  background-image: url(../imagens/icones/instagramlight.png);
  background-size: cover;
  transition-property: background-image;
  transition-duration: .5s;
}

#instagram.dark {
  background-image: url(../imagens/icones/instagram.png);
}

  cite#aboutme {
    width: 100vw;
    
  }
}

   

