@charset "UTF-8";

/* Adicionando a font Montserrat */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Customização barra de scroll */

::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
    border: 5px solid transparent;
}

::-webkit-scrollbar-thumb{
    background-color: var(--laranja);
    border-radius: 50px;
    
}

:root {
    --laranja: #f77f00;
    --azul: #313bff;
    --azul1: #2932e7;
    --azul2: #1e27ce;
    --azul3: #161fbb;
    --azul4: #001122;
    --roxo: #3b1180;
    --branco: #ffffff;
    --branco2: #e5e5e5;
    --montserrat: 'Montserrat', sans-serif;
    --preto:#0b0b0e;
}

body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    background-color: var(--branco2);
    transition-property: background-color;
    transition-duration: .3s;
}

body.dark {
    background-color: var(--azul4);
}

header#menu {
    position: absolute;
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

div#logo {
    height: auto;
    margin-left: 40px;
}

div#paginas{
    display: flex;
    height: 60px;
    align-items: center;
}

div#paginas p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    padding: 0px 30px;
    text-transform: capitalize;
}

div#paginas p:hover a{
    color: var(--azul4);
    background-color: var(--laranja);
    transition-property: color , background-color;
    transition: .3s;
}

div#paginas p a {
    text-decoration: none;
    color: var(--azul4);
    padding: 5px 20px;
    border-radius: 30px;
    transition-property: color;
    transition-duration: .3s;
}

#A-linkinicio.dark, #A-linksobremim.dark, #A-linkportfolio.dark{
    color: var(--branco);
}

#button-light-dark {
    display: flex;
    align-items: center;
    height: 60px;
    width: auto;
    margin-right: 40px;
   
}

/* The switch - the box around the slider */
.switch-container {
    position: relative;
    display: inline-block;
    width: 3.8em;
    height: 2em;
  }
  
  /* Hide default HTML checkbox */
  .switch-container input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .switch-container .slider {
    --background: var(--azul3);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--background);
    transition: background-color 0.5s;
    border-radius: 30px;
  }
  
  .switch-container .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 15px -4px 0px 15px var(--laranja);
    background: var(--background);
    transition: transform 0.5s, box-shadow 0.5s;
  }
  
  .switch-container input:checked + .slider {
    background-color: #000513;
  }
  
  .switch-container input:checked + .slider:before {
    transform: translateX(115%);
    box-shadow: inset 8px -4px 0px 0px var(--azul);
  }
  

/* Configurando a imagem logo */

div#logo img {
    width: 40px;
    height: auto;
    filter: invert(1);
    user-select: none;
}

/* Configurando a capa do site */

section#inicio {
    background-color:var(--branco2);
    height: 100vh;
    width: 100vw;
    transition-property: background-color;
    transition-duration: .3s;
}

#inicio.dark {
    background-color: var(--azul4);
}

img#gato {
    position: absolute;
    z-index: 2;
    width: 40vw;
    right: 13vw;
    top: 0vh;
}
div#logocapa{
    position: absolute;
    height: 450px;
    width: 450px;
    top: 15vh;
    right: 15.5vw;
    z-index: 1;
    background-image: url(../imagens/logolight.png);
    background-size: cover;
    background-position: center;
    transition-property: background-image;
    transition-duration: .3s;
}

div#logocapa.dark{
    background-image: url(../imagens/logodark.png);

    
  
}

#work-tittle {
    position: absolute;
    width: 100vw;
    color: var(--azul4);
    font-family: Arial, Helvetica, sans-serif;
    bottom: 5vh;
    letter-spacing: 3px;
    text-align: center;
    font-size: 1.1em;
    font-weight: 100;
}

#work-tittle.dark{
    color: var(--branco);
    transition-property: color;
    transition-duration: .3s;
}

#orcamento {
    position: absolute;
    top: 70vh;
    left: 15.5vw;
    width: 21vw;
    height: 40px;
    background-color: transparent;
    border: 1px solid #fff;
    outline: none;
    color: #fff;
    border-radius: 50px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

span#titulo-firstname{
    display: flex;
    color: var(--laranja);
    font-size: 4em;
    font-weight: 600;
}

span#titulo-middlename{
    display: flex;
    color: var(--laranja);
    font-size: 4em;
    font-weight: 600;
}

div#complete-name {
    position: absolute;
    top: 35vh;
    left: 15.5vw;
    
    width: 17.7em;
    line-height: 4em;
    letter-spacing: .2em;
}

#redes-sociais {
    display: flex;
    position: absolute;
    left: 15.5vw;
    top: 60vh;
    width: 21vw;
    height: 30px;
    
    justify-content: space-between;
}

#linkedin {
    width: 30px;
    height: 30px;
    background-image: url(../imagens/icones/linkedinlight.png);
    background-size: cover;
    transition-property: background-image;
    transition-duration: .5s;
}

#linkedin.dark{
    background-image: url(../imagens/icones/linkedin.png);
}

#linkedin:hover, #github:hover, #behance:hover, #instagram:hover{
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
    transform: translateY(-10px);
}

#github {
    width: 30px;
    height: 30px;
    background-image: url(../imagens/icones/githublight.png);
    background-size: cover;
    border-radius: 50px;
    transition-property: background-image;
    transition-duration: .5s;
}

#github.dark{
    background-image: url(../imagens/icones/github.png);
}

#behance{
    width: 30px;
    height: 30px;
    background-image: url(../imagens/icones/behancelight.png);
    background-size: cover;
    transition-property: background-image;
    transition-duration: .5s;
}

#behance.dark{
    background-image: url(../imagens/icones/behance.png);
}

#instagram{
    width: 30px;
    height: 30px;
    background-image: url(../imagens/icones/instagramlight.png);
    background-size: cover;
    transition-property: background-image;
    transition-duration: .5s;
}

#instagram.dark{
    background-image: url(../imagens/icones/instagram.png);
}

#atuacao {
    display: flex;
    background-color: var(--branco2);
    width: 100vw;
    height: 130vh;
    flex-direction: column;
    transition-property: background-color;
    transition-duration: .3s;
}

#atuacao.dark{
    background-color: var(--azul4);
}

#atuacao h2 {
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    color: var(--laranja);
    font-family: var(--montserrat);
    text-transform: uppercase;
    font-size: 4em;
    margin: 0;
    margin-top: 3vh;
}

.container-atuacao {

    position: relative;
    left: 15.5vw;
    top: 20vh;
    width: 69vw;
    height: 25vh;
    display: flex;
    align-items: center;
}

#container-atuacao-1 {
    border-radius: 0 0 15px 0;

}

#container-atuacao-2 {
    border-radius: 0 15px 0 0;
}

#container-atuacao-3 {
    justify-content: left;
}

.container-atuacao-txt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.texto-atuacao {
    width: 40%;
}

.texto-atuacao > h3 {
    color: var(--laranja);
    letter-spacing: .1em;
    text-align: center;
    margin: 0;
}

.texto-atuacao > p {
    text-align: justify;
    line-height: 1.2em;
    
}

.p-atuacao {
    color: var(--preto);
}

.p-atuacao.dark{
    color: var(--branco);
}