@charset "UTF-8";

/* Adicionando a font Montserrat */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Customização barra de scroll */



html {
    --laranja: #f77f00;
    --azul: #313bff;
    --azul1: #2932e7;
    --azul2: #1e27ce;
    --azul3: #161fbb;
    --azul4: #001122;
    --branco1: #ffffff;
    --branco2: #e5e5e5;
    --montserrat: 'Montserrat', sans-serif;
    --preto:#0b0b0e;

    --secondtittle: #001122;
    --maintittle: #f77f00;
    --bgcolor: #e5e5e5;
    --linkcolor: #001122;
    --linkhover: #001122;
    --linkhoverincontainer: #e5e5e5;
    --containerlinkhover: #001122;
    --textcolornopanel: #001122;
    --textcolorwithpanel: #e5e5e5;
    
}

body {
    background-color: var(--bgcolor);
    font-family: var(--montserrat);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}




