.typing-animation {
    animation: blinkCursor 650ms infinite normal, typing 2s steps(26) 1s normal;
}

.toApper-animation {
    animation: toApperTitle 100ms infinite normal;
}

@keyframes typing {
    from{
        width: 0;
    }

    to{
        width: 15em;
    }
}

@keyframes blinkCursor{
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {border-right-color: transparent;}
}

